<div class="container">
  <div class="row">
    <!-- Riquadro per la registrazione a SeS -->
    <div class="col-md-6">
      <div class="registration-info" style="background-color: #f8f9fa; padding: 0.75rem; margin-bottom: 1rem; text-align: center; border: 1px solid #e1e4e8; border-radius: 8px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font-size: 0.85rem; color: #333;">
        <p style="margin-bottom: 0.75rem;">
          Confermi il suo indirizzo email per ricevere notifiche sulle sue prenotazioni tramite il nostro sistema di notifiche SeS.
        </p>
        <button *ngIf="!iscrittoSeS" style="background-color: #000; color: white; border: none; padding: 0.25rem 0.5rem; font-size: 0.85rem; cursor: pointer; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);" (click)="registrazioneSeS()">
          Registra la tua email
        </button>
        <button *ngIf="iscrittoSeS" style="background-color: #28a745; color: white; border: none; padding: 0.25rem 0.5rem; font-size: 0.85rem; cursor: not-allowed; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);" disabled>
          <i class="fas fa-check-circle"></i> Già Registrato
        </button>
      </div>
    </div>

    <!-- Riquadro per la registrazione a SnS -->
    <div class="col-md-6">
      <div class="registration-info" style="background-color: #f8f9fa; padding: 0.75rem; margin-bottom: 1rem; text-align: center; border: 1px solid #e1e4e8; border-radius: 8px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font-size: 0.85rem; color: #333;">
        <p style="margin-bottom: 0.75rem;">
          Confermi il suo indirizzo email per ricevere notifiche all'aggiunta di nuovi appuntamenti tramite il nostro sistema di notifiche SnS.
        </p>
        <button *ngIf="!iscrittoSnS" style="background-color: #000; color: white; border: none; padding: 0.25rem 0.5rem; font-size: 0.85rem; cursor: pointer; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);" (click)="registrazioneSnS()">
          Registra la tua email
        </button>
        <button *ngIf="iscrittoSnS" style="background-color: #28a745; color: white; border: none; padding: 0.25rem 0.5rem; font-size: 0.85rem; cursor: not-allowed; border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);" disabled>
          <i class="fas fa-check-circle"></i> Già Registrato
        </button>
      </div>
    </div>
  </div>


  <body>
  <div class="content" style="margin-top: -3rem;">
    <div class="card-container">
      <mat-card *ngFor="let a of appuntamenti" [routerLink]="['/prenota-appuntamento',a.id]" class="example-card" style="margin-bottom: 1.5rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <mat-card-content>
          <div class="appuntamento-details" style="padding: 1rem;">
            <p class="appuntamento-name" style="margin: 0.5rem 0;"><strong>Tipo:</strong> {{a.tipo}}</p>
            <p class="appuntamento-ora" style="margin: 0.5rem 0;"><strong>Avvocato:</strong> {{a.nomeAvvocato}}</p>
            <p class="appuntamento-postiDisponibili" style="margin: 0.5rem 0;"><strong>Posti Disponibili:</strong> {{a.postiDisponibili}}</p>
            <p class="appuntamento-data" style="margin: 0.5rem 0;"><strong>Data Appuntamento:</strong> {{a.data}}</p>
            <p class="appuntamento-ora" style="margin: 0.5rem 0;"><strong>Ora Appuntamento:</strong> {{a.ora}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </body>

  <div *ngIf="appuntamenti.length === 0">
    <p style="text-align: center; font-size: 1.2rem; color: #555;">Nessun appuntamento disponibile al momento.</p>
  </div>
</div>
